@page "/movies"

<div class="container-fluid site-content">
	<div class="container">
        <div class="container">
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><NavLink class="text-decoration-none text-white" href="/">Home</NavLink></li>
                    <li class="breadcrumb-item active" aria-current="page"><NavLink class="text-decoration-none text-white" href="/movies">Library</NavLink></li>
                </ol>
            </nav>
        </div>
		<div class="search-page-content">
            <EditForm Model="PageModel">
                <div class="container">
                    <header class="border-bottom border-2 border-white mb-3">
                        <h2 class="page-title">Movies</h2>
                    </header>
                </div>
                <div class="search-filter-control-bar">
                    <div class="container">
                        <div class="row justify-content-between">
                            <div class="search-wrapper col-6">
                                <SearchBar SearchText="@PageModel.Search" PlaceHolder="Enter Movies" OnSubmit="ChangeSearch" />
                            </div>
                            <div class="filter-wrapper col-6 col-md-4 col-sm-6 col-lg-4">
                                <div class="input-group">
                                    <span class="input-group-text btn-black">
                                        <i class="bi bi-arrow-down-up"></i>
                                    </span>
                                    <InputSelect class="form-select bg-black text-white border-0" @bind-Value="PageModel!.Selected">
                                        @foreach (var filter in FilterOptions!)
                                        {
                                            <option value="@filter.Value">@filter.Name</option>
                                        }
                                    </InputSelect>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="search-results-wrapper my-3">
                    <MovieList Movies="PageModel.MoviesResults" />
                </div>
                <div class="page-control-bar">
                    <div class="container">
                        <div class="row">
                            <div class="col-6">
                                <PageControlBar CurrentPage="@PageString"
                                                TotalPages="@TotalPagesString"
                                                OnPageChange="ChangePage" />
                            </div>
                        </div>
                    </div>
                </div>
            </EditForm>
		</div>
	</div>
</div>

@code {

}
