@page "/movies/{id:int}"
<PageTitle>Cineder - @PageName</PageTitle>

<div class="container site-content">
    <div class="container">
        <div class="container mb-5">
            <BreadCrumbNav BreadCrumbs="NavItems"></BreadCrumbNav>
        </div>
        @* <div class="container">
            <header class="border-bottom border-2 border-white mb-3">
                <h2 class="page-title">@PageName</h2>
            </header>
        </div> *@
        <Loading IsLoading=IsLoading>
            <div class="row">
                <div class="col-4">
                    <div class="card text-white bg-black mx-1">
                        <img src="@ImagePath(Movie.PosterPath)" class="card-img" />
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12">
                                   <div class="justify-content-center">
                                        <span @onclick="SimilarClicked"
                                              class="btn btn-sm btn-outline-light rounded-pill text-nowrap">
                                            <span class="text-uppercase fw-bold">More</span>&nbsp;
                                            <i class="bi bi-arrow-right-short fw-bold"></i>
                                        </span>
                                   </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-8">
                    <div class="row">
                        <div class="col-12">
                            <h1>@Movie.Name</h1>
                            <StarRating Rating="@(Movie.VoteAverage/2)" Colour="gold"></StarRating>
                        </div>
                    </div>
                    <div class="row my-3">
                        <div class="d-flex flex-row">
                            <span>
                                @Movie.ReleaseDate.Year
                            </span>
                            <span class="mx-3">
                                @Movie.Runtime
                            </span>
                            <span>
                                @(string.Join(", ", Movie.Genres.Select(x => x.Name)))
                            </span>
                       </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <p class="justi">
                                @Movie.Overview
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="overflow-hidden">
                                <iframe src="@TrailerPath(Movie.Videos)" class="" allowfullscreen="true"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </Loading>
    </div>
</div>



